$font_base : 16;
@function font-rem($font_size) {
  @return ($font_size / $font_base)+rem;
}
$khula : 'Khula','Roboto', sans-serif;
// $roboto : 'Roboto', sans-serif;

$khula-only : 'Khula', sans-serif;
$segoe : 'segoeUI-Semilight', sans-serif;
$playfair: 'Playfair Display', serif;
//- $mont : 'Montserrat', sans-serif;
$icon: 'ci-icons';
$fgrey:#8c8c8f;
$grey : #78787d;
$blackBlack: #000000;
$black: #1e1e23;
$black1: #000;
$black2: #5e5e5e;
$black3: #222222;
$white: #fff;
$lightGrey: #f0f0f2;
$lightGrey2: #f0f0f0;
$lightGrey3: #f6f6f6;
$bluishGrey:#9797b1;
$darkbluishgrey: #6e6e82;
$grey1: #eeeff3;
$grey2: #6e6e73;
$grey3: #ebebeb;
$grey4: #f4f8f8;
$grey5: #efefef;
$grey6: #b9b9be;
$grey7: #ebebf0;
$grey8: #737377;
$grey9: #f1f1f1;
$greydash:#959699;
$grey11: #f6f6f6;
$grey12:#e2e2e2;
$grey13: #cccccc;
$grey14: #eeeeee;
$grey15: #f9f9f9;
$grey16: #ababab;
$grey-qoute: #d9d9d9;
$greyBg: #efedec;
$nGrey: #5a5a63;
$ngrey: #717178;
$phGrey: #b6b6b6;
$wkOrange: #fa643c;
$lightBlue: #edfaff;
$blueSaap: #1fadff;
$greenSaap: #3ac58e;
$orange: #fa6841;
$primary: #fa643c !default;
$primary2: #f36d4b;
$primary3: #ff663d;
$headings-margin-bottom: font-rem(10) !default;
$headings-font-family:        $khula !default;
$font-family-base:            $segoe !default;
$headings-font-weight:        400 !default;
$headings-color:              $black !default;
$slick-font-path: '../fonts/' !default; // $headings-color:              $black !default;
$border-radius: 0!default;
$border-radius-lg: 0!default;
$border-radius-sm: 0!default;
$body-color: $grey !default;
$modal-inner-padding: 0!default;
$modal-header-padding: font-rem(20) font-rem(20) font-rem(10)!default;
$modal-header-border-color: transparent!default;
$modal-content-border-width: 0!default;
$modal-backdrop-opacity: 0.8!default;
$modal-content-bg: transparent!default;
$carousel-caption-color: $white!default;
$carousel-control-color: $white!default;
